.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 165, 128);
    color: white;
    text-align: center;
    display: block;
    padding: 20px;
  
}
    
